@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
:root{
    --header-height:200px;
    /*========== colors ==========*/
    --primary-darkaguamarine-color:hsl(192, 37%, 48%);
    --primary-normalviolet-color:hsl(268, 34%, 53%);
    --primary-darkviolet-color:hsl(240, 21%, 20%);

    --neutral-grey-color:hsl(240, 10%, 57%);
    
    --second-light-blue:hsl(192, 90%, 77%);
    --second-light-violet:hsl(268, 100%, 86%);
    --second-white-color:hsl(0, 0%, 98%);

    /*========== Tipografia ==========*/
    --body-font: 'Red Hat Display', sans-serif;
    --typography-h1: 65px;
    --typography-p: 16px;
    --typography-black: 900;
    --typography-bold: 700;
    --typography-medium:500;
    --typography-light:400;

}
body{
    background-color: var(--second-white-color);
    font-family:var(--body-font) ;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height)

}
.container_home{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.grid{
   display: grid;
   flex-direction: row;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 10px;
}
.content_left{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}
.content_right{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
.home_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content_tablet{
   display: none;
}
.home_content > h1{
    font-weight:var(--typography-black);
    color: var(--primary-darkviolet-color);
    font-size: var(--typography-h1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 64px;
    margin-bottom: 40px;
}
.home_content > p{
    text-align: center;
    font-weight: var(--typography-medium);
    color: var(--neutral-grey-color);
    font-size: 16px;
    padding-bottom: 40px;
}
.home_btns{
    display: flex;
    flex-direction: row;
}

.download_btn{
    background-color:var(--primary-darkaguamarine-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 40px;
    color: var(--second-white-color);
    font-weight: var(--typography-black);
}

.secondary_btn{
    background-color:var(--primary-normalviolet-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 40px;
    color: var(--second-white-color);
    font-weight: var(--typography-black);
    margin-left: 20px;
}
.secondary_btn > a{
    color: var(--second-white-color);
}
.download_btn > a{
    color: var(--second-white-color);
}
.download_btn > a >span{
    color: var(--second-light-blue);
}
.btn_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 110px;
    z-index: 2;
}
.line_btn{
    background-color: var(--neutral-grey-color);
    opacity: 0.5;
    width: 1px;
    height: 84px;
}
.circle_btn{
    min-width:56px;
    min-height: 56px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: var(--neutral-grey-color);
    border-width: thin;
    color: var(--neutral-grey-color);
    background-color:white ;
}
.container{
    width: 1110px;
    padding-bottom: 52px;
}
.img_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid_img{
   display: grid;
   flex-direction: row;
   grid-template-columns: repeat(4,1fr);
   grid-column-gap: 30px;
}
.img_content>img{
    width: 255px;
    height: 242px;
    border-radius: 10px;
}
.container_info{
    padding-top: 30px;
}
.section_info{
    text-align: center;
}
.section_info >h3{
    font-size: 16px;
    color: var(--primary-darkaguamarine-color);
    padding-bottom: 25px;
}
.section_info >h2{
    color: var(--primary-darkviolet-color);
    font-size: 40px;
    font-weight: var(--typography-black);
    line-height: 45px;
    padding-bottom: 45px;
}

.info_paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_paragraph>p{
    width: 40%;
    color: var(--neutral-grey-color);
}
.footer{
    background-image: url("assets/desktop/image-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    
}
.overlay{
    background-color: var(--primary-darkaguamarine-color);
    opacity: 0.9;
    z-index: -2;
}

.footer_section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    z-index: 2;
}
.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.footer_info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2em;
}
.footer_title>h2{
    color: var(--second-white-color);
    font-size: 40px;
    font-weight: var(--typography-black);
  
}
.footer_paragraph>p{
    color: var(--second-white-color);
    font-size: 18px;
    font-weight: var(--typography-light);
}

.download_btn_footer{
    background-color:var(--primary-normalviolet-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 40px;
    font-weight: var(--typography-black);
    width: 110px;
    margin-left: 200px;

}
.download_btn_footer>a{
    color: var(--second-white-color);
}
.download_btn_footer>a>span{
    color: var(--second-light-violet);
}
.move{
    transform: translateY(30px);
}
@media screen and (max-width: 1390px)  {
    .content_left>img{
        height: 253px;
        width: 344px;
    }
    .content_right>img{
        height: 253px;
        width: 344px;
    }
    .home_content > h1{
        font-size: 50px;
    }
   
}
@media screen and (max-width: 1100px)  {
    
    .content_left{
        display: none;
    }
    .content_right{
        display: none;
    }
    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        height: var(--header-height)
    }
    .content_tablet{
        display: flex;
    }
    .btn_section{
        
        margin-bottom: 60px;
    }
    .container_home{
        height: calc(100vh-(var(--header-height)));
    }
    .img_content>img{
        max-width: 205px;
        max-height: 192px;

    }
    .img_content{
        max-width: 205px;
        max-height: 192px;

    }
    .container{
        max-width: 920px;
    }
    .footer_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .download_btn_footer{
        margin-left:0px;
    }
    .footer_title>h2{
        padding-top: 50px;
        font-size: 30px;
    }
    .footer_paragraph>p{
        padding-top: 10px;
        font-size: 20px;
        padding-bottom: 20px;
        
    }
   /*  .img_container{
        max-width: 780px;
    }
    .img_content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid_img{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 3fr 3fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
     }
      */
}
@media screen and (max-width: 920px)  {
    .content_tablet>img{
       width:620px;
      
    }
    .container{
        max-width: 720px;
    }
    .img_content>img{
        min-width: 360px;
        min-height: 360px;
    }
    .grid_img{
        display: grid;
        max-width: 920px;
        grid-template-columns: 360px 360px;
        grid-template-rows: 360px 360px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
     }
     .footer_info{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 2em;
    }
    .footer_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .download_btn_footer{
        margin-left:0px;
    }
    .footer_title>h2{
        padding-top: 40px;
        font-size: 30px;
    }
    .footer_paragraph>p{
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 20px;
        
    }
}
@media screen and (max-width: 640px)  {
    .content_tablet>img{
       width:560px;
    }
    .container{
        max-width: 520px;
    }
    .img_content>img{
        min-width: 160px;
        min-height: 160px;
    }
    .grid_img{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }
     .footer_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .download_btn_footer{
        margin-left:0px;
    }
    .footer_title>h2{
        padding-top: 40px;
        font-size: 25px;
    }
    .footer_paragraph>p{
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 20px;
        
    }
    .info_paragraph>p{
        width: 60%;
    }
  
}
@media screen and (max-width: 560px){
    .content_tablet>img{
        width:360px;
     }
    
    .container{
        max-width: 320px;
    }
}  