@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

*{
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
:root{
    --header-height:200px;
    /*========== colors ==========*/
    --primary-darkaguamarine-color:hsl(192, 37%, 48%);
    --primary-normalviolet-color:hsl(268, 34%, 53%);
    --primary-darkviolet-color:hsl(240, 21%, 20%);

    --neutral-grey-color:hsl(240, 10%, 57%);
    
    --second-light-blue:hsl(192, 90%, 77%);
    --second-light-violet:hsl(268, 100%, 86%);
    --second-white-color:hsl(0, 0%, 98%);

    /*========== Tipografia ==========*/
    --body-font: 'Red Hat Display', sans-serif;
    --typography-h1: 65px;
    --typography-p: 16px;
    --typography-black: 900;
    --typography-bold: 700;
    --typography-medium:500;
    --typography-light:400;

}
body{
    background-color: var(--second-white-color);
    font-family:var(--body-font) ;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height)

}
.container_home{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.grid{
   display: grid;
   flex-direction: row;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 10px;
}
.content_left{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}
.content_right{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}
.home_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home_content > h1{
    font-weight:var(--typography-black);
    color: var(--primary-darkviolet-color);
    font-size: var(--typography-h1);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 64px;
    margin-bottom: 40px;
}
.home_content > p{
    text-align: center;
    font-weight: var(--typography-medium);
    color: var(--neutral-grey-color);
    font-size: 16px;
    padding-bottom: 40px;
}
.home_btns{
    display: flex;
    flex-direction: row;
}

.download_btn{
    background-color:var(--primary-darkaguamarine-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 40px;
    color: var(--second-white-color);
    font-weight: var(--typography-black);
}

.secondary_btn{
    background-color:var(--primary-normalviolet-color);
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 40px;
    color: var(--second-white-color);
    font-weight: var(--typography-black);
    margin-left: 20px;
}
.secondary_btn > a{
    color: var(--second-white-color);
}
.download_btn > a{
    color: var(--second-white-color);
}
.download_btn > a >span{
    color: var(--second-light-blue);
}
.btn_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 110px;
}
.line_btn{
    background-color: var(--neutral-grey-color);
    opacity: 0.5;
    width: 1px;
    height: 84px;
}
.circle_btn{
    min-width:56px;
    min-height: 56px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: var(--neutral-grey-color);
    border-width: thin;
    opacity: 0.5;
}
.container{
    width: 1110px;
    padding-bottom: 52px;
}
.img_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.grid_img{
   display: grid;
   flex-direction: row;
   grid-template-columns: repeat(4,1fr);
   grid-column-gap: 30px;
}
.img_content>img{
    width: 255px;
    height: 242px;
    border-radius: 10px;
}
.container_info{
    padding-top: 30px;
}
.section_info{
    text-align: center;
}
.section_info >h3{
    font-size: 16px;
    color: var(--primary-darkaguamarine-color);
    padding-bottom: 25px;
}
.section_info >h2{
    color: var(--primary-darkviolet-color);
    font-size: 40px;
    font-weight: var(--typography-black);
    line-height: 45px;
    padding-bottom: 45px;
}

.info_paragraph{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_paragraph>p{
    width: 40%;
    color: var(--neutral-grey-color);
}